FRESHRSS_SERVER=https://rss.pollete.duckdns.org
FRESHRSS_USER=pollo
FRESHRSS_PASS=tu_contraseña_aqui
FRESHRSS_FEEDS=Ambientblog,Ban Ban Ton Ton,Depósito sonoro,Lost Turntable,FW Rare Jazz Vinyl Collector
UPDATE_INTERVAL_DAYS=7
PORT=8765
